<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.club_deportivo_comf4">
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.club_deportivo_comf4" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clubdeportivocomf4">
        <activity
            android:name=".CarnetActivity"
            android:exported="false" />
        <activity
            android:name=".EditarActivity"
            android:exported="false" /> <!-- Login (pantalla inicial) -->

        <!-- Login (pantalla inicial) -->

        <activity
            android:name=".ListadoNoSociosActivity"
            android:exported="false" />
        <activity
            android:name=".ListaSociosActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoSociosVencidosActivity"
            android:exported="false" />
        <activity
            android:name=".ListadosActivity"
            android:exported="false" />


        <!-- Login (pantalla inicial) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Clubdeportivocomf4" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Menú principal -->
        <activity
            android:name=".MenuActivity"
            android:exported="false" /> <!-- Pantallas de registro -->
        <activity
            android:name=".RegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroSocioActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroNoSocioActivity"
            android:exported="false" />
        <activity
            android:name=".ListadosActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoNoSociosActivity"
            android:exported="false" />
        <activity
            android:name=".ListaSociosActivity"
            android:exported="false" />
        <activity
            android:name=".ListadoSociosVencidosActivity"
            android:exported="false" />


        <!-- Menú pagos -->
        <activity
            android:name=".PagosActivity"
            android:exported="false" />

        <!-- Pago mensual -->
        <activity
            android:name=".ComprobantePagoMensualActivity"
            android:exported="false" />
        <!-- Comprobante Pago mensual -->
        <activity
            android:name=".PagoMensualActivity"
            android:exported="false" />

    </application>

</manifest>
